* {
  font-family: Arial;
  box-sizing: border-box;
}

a:visited {
  color: #0000EE;
}

article, p, html, body {
  padding:0;
  margin:0;
}

h2, h3, h4, h5, h6 {
  margin:0; padding:0;
  color: #CE5757;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 5px;
  margin-bottom: 10px;
}

h1 {
  margin:0; padding:0;
  margin-top:0;
  color: #FFFFFF;
}

small {
  color: #FFFFFF;
  font-size: 1.1em;
}

.name {
  padding: 15px;
  margin-bottom: 5px;
  width: 15cm;
  height: 75px;
}

.heading {
  /*text-shadow: 1px 1px 3px #000000;*/
  padding: 5px;
  margin:0;
  background-color: #CE5757;
  width: 100%;
  height: 4cm;
  display: inline-block;
  z-index: 1;
/*  background-image: url(../img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;*/
}

.heading p {
  padding: 2px;
  margin : 0;
}

.bio {
  color: #FFFFFF;
}

article {
  padding:0 15px;
  margin:0;
}

body {
  background: url("../img/denim.png");
}

.page {
  background-color: #FFFFFF;
  max-width: 21cm;
  margin: 25px auto;
  position: relative;
  z-index: 1;

  /*box-shadow:00 25px 4px #AAAAAA;*/
}

#photo {
  border-radius: 50%;
  position: absolute;
  right:0;
  top:0;
  width: 130px;
  margin: 10px 25px;
}

main {
  display: inline-block;
  vertical-align: top;
  width: calc((100%) * 6.9/10);
}

.side {
  position: absolute;
  right:0; top: 4cm;
  /*width: 6.38cm;*/
  margin: 0 auto auto; 
  display: inline-block;
  vertical-align: top;
  width: calc((100%) * 3/10);
  border: 0;
  border-left: 2px solid #E0E0E0;
  background-color: #F0F0F0;
  height: calc(100% - 4cm);
}

/*.side h2 {
  color: #FFFFFF;
}*/

.item {
  margin-bottom: 10px;
  padding-left: 5px;
  border-left: solid 1px #C5C5C5;
  transition: background-color 100ms linear;
  background-color: none;
}

.item:hover {
  background-color: #EEEEEE;
}

article .main {
  font-size: 0.9em;
  font-weight: bold;
}

article .details {
  color: #5E5E5E;
  font-size: .7em
}

.place {
  color: #5E5E5E;
  font-size: .7em
}

.goal {
  font-size: .9em;
}

.dates {
  color: #5E5E5E;
  font-size: .7em
}

.skills {
  font-size: .8em
}

.skill {
  font-size: .7em
}

.skills div {
  width: calc(90%/2);
  height: auto;
  display: inline-block;
  vertical-align: top;
}


.contact img {
  width: 18px;
  padding-right: 5px;
}

.contact span {
  padding-bottom: 3px;
}

.item .title {
  font-size: 14px;
  font-weight: bold;
}

.item .detail {
  font-size: 12px;
  color: #5E5E5E;
}
