* {
  font-family: Arial;
  box-sizing: border-box;
}

article, p, html, body {
  padding: 0px;
  margin: 0px;
}

h2, h3, h4, h5, h6 {
  margin: 0px; padding: 0px;
  color: #CE5757;
  width: 100%;
  border-bottom: 2px solid;
  margin-top: 5px;
  margin-bottom: 10px;
}

h1 {
  margin: 0px; padding: 0px;
  margin-top: 0px;
  color: #FFFFFF;
}

small {
  color: #FFFFFF;
  font-size: 1.1em;
}

.name {
  padding: 15px;
  margin-bottom: 5px;
  width: 15cm;
  height: 75px;
  /*border-bottom: solid 1px #ffffff;*/
}

.heading {
  padding: 5px;
  margin: 0px;
  background-color: #CE5757;
  width: 100%;
  height: 4cm;
  display: inline-block;
  z-index: 1;
}

.heading p {
  padding: 2px;
  font-size: .8em;
  margin : 0;
}

.bio {
  color: #FFFFFF;
}

.bio ul {
  padding: 0px;
}

.bio li {
  list-style: none;
}

article {
  padding: 0px 15px;
  margin: 0px;
}

body {
  background: url("denim.png") repeat;
}

.page {
  background-color: #FFFFFF;
  max-width: 21cm;
  height: 29.7cm;
  margin: 25px auto;
  position: relative;
  z-index: -1;

  /*box-shadow: 0px 0px 25px 4px #AAAAAA;*/
}

#photo {
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 130px;
  margin: 10px 25px;
}

main {
  display: inline-block;
  width: 14.5cm;
}

.side {
  position: absolute;
  right: 0px; top: 0cm;
  padding-top: 4cm;
  width: 6.38cm;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  border-left: 2px solid #E0E0E0;
  background-color: #F0F0F0;
  z-index: -1;
}

/*.side h2 {
  color: #FFFFFF;
}*/

article div {
  margin-bottom: 10px;
  padding-left: 5px;
  border-left: solid 1px #C5C5C5;
}

article .main {
  font-size: 0.9em;
  font-weight: bold;
}

article .details {
  color: #5E5E5E;
  font-size: .8em;
}

.place {
  color: #5E5E5E;
  font-size: .8em;
}

article .goal {
  font-size: .9em;
}

article .dates {
  color: #5E5E5E;
  font-size: .8em;
}

.skills {
  font-size: 1em;
}

.skill {
  font-size: .8em;
}

.skills div {
  width: 6.789cm;
  display: inline-block;
  vertical-align: top;
}

.rating img {
  display: none;
}

.contact img {
  width: 18px;
  padding-right: 5px;
}

.contact span {
  padding-bottom: 3px;
}
